<div th:fragment="sider">
  <div class="sidebar-wrapper" data-layout="stroke-svg" bis_skin_checked="1">
    <div class="logo-wrapper" bis_skin_checked="1">
      <a href="/admin/dashboards" bis_size="{&quot;x&quot;:30,&quot;y&quot;:34,&quot;w&quot;:170,&quot;h&quot;:18,&quot;abs_x&quot;:30,&quot;abs_y&quot;:34}">
        <img class="img-fluid" src="https://i.imgur.com/FJZ4kRE.png" data-src="https://i.imgur.com/FJZ4kRE.png"
             height="170px" width="170px" alt="logo" bis_size="{&quot;x&quot;:30,&quot;y&quot;:22,&quot;w&quot;:170,&quot;h&quot;:45,&quot;abs_x&quot;:30,&quot;abs_y&quot;:22}"
             bis_id="bn_ol8q9s92qh1s1k209afhxh">
      </a>
      <div class="back-btn" bis_skin_checked="1">
        <i class="fa fa-angle-left">
        </i>
      </div>
      <div class="toggle-sidebar" bis_skin_checked="1" checked="checked">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
             stroke-linejoin="round" class="feather feather-grid status_toggle middle sidebar-toggle">
          <rect x="3" y="3" width="7" height="7">
          </rect>
          <rect x="14" y="3" width="7" height="7">
          </rect>
          <rect x="14" y="14" width="7" height="7">
          </rect>
          <rect x="3" y="14" width="7" height="7">
          </rect>
        </svg>
      </div>
    </div>
    <div class="logo-icon-wrapper" bis_skin_checked="1">
      <a href="/admin/dashboards">
        <img class="img-fluid lazyload" src="https://hackernoon.com/images/0*4Gzjgh9Y7Gu8KEtZ.gif"
             data-src="https://i.imgur.com/FJZ4kRE.png" height="170px" width="170px"
             alt="logo">
      </a>
    </div>
    <nav class="sidebar-main">
      <div id="sidebar-menu" bis_skin_checked="1">
        <ul class="sidebar-links" id="simple-bar" data-simplebar="init" style="display: block;">
          <div class="simplebar-wrapper" style="margin: 0px;" bis_skin_checked="1">
            <div class="simplebar-height-auto-observer-wrapper" bis_skin_checked="1">
              <div class="simplebar-height-auto-observer" bis_skin_checked="1">
              </div>
            </div>
            <div class="simplebar-mask" bis_skin_checked="1">
              <div class="simplebar-offset" style="right: 0px; bottom: 0px;" bis_skin_checked="1">
                <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden;"
                     bis_skin_checked="1">
                  <div class="simplebar-content" style="padding: 0px;" bis_skin_checked="1">
                    <!-- Back Button -->
                    <li class="back-btn">
                      <a href="/admin/dashboards">
                        <img class="img-fluid lazyload" src="https://hackernoon.com/images/0*4Gzjgh9Y7Gu8KEtZ.gif"
                             data-src="https://i.imgur.com/FJZ4kRE.png" height="170px" width="170px"
                             alt="logo">
                      </a>
                    </li>
                    <!-- Dashboards Section -->
                    <li class="sidebar-main-title">
                      <h6> Trang Quản Trị Viên </h6>
                    </li>
                    <li class="sidebar-list">
                      <a class="sidebar-link sidebar-title link-nav" href="/admin/dashboards">
                        <i class="fa-solid fa-paper-plane" style="color: #ffffff;"></i>
                        <span> Dashboards </span>
                      </a>
                    </li>
                    <li class="sidebar-main-title">
                      <h6> Danh mục </h6>
                    </li>
                    <li class="sidebar-list">
                      <a class="sidebar-link sidebar-title link-nav" href="/admin/categories">
                        <i class="fa-solid fa-diagram-project" style="color: #face06;"></i>
                        <span> Quản lý danh mục </span>
                      </a>
                    </li>
                    <li class="sidebar-main-title">
                      <h6> Sản phẩm </h6>
                    </li>
                    <li class="sidebar-list">
                      <a class="sidebar-link sidebar-title link-nav" href="/admin/product">
                        <i class="fa-solid fa-bag-shopping" style="color: #fc74c1;"></i>
                        <span> Quản lý sản phẩm </span>
                      </a>
                    </li>


                    <li class="sidebar-main-title">
                      <h6> Người dùng </h6>
                    </li>
                    <li class="sidebar-list">
                      <a class="sidebar-link sidebar-title link-nav" href="/admin/users">
                        <i class="fa-solid fa-users" style="color: #c309f6;"></i>
                        <span> Quản lý người dùng </span>
                      </a>
                    </li>

                    <li class="sidebar-main-title">
                      <h6> Tài chính </h6>
                    </li>
                    <li class="sidebar-list">
                      <a class="sidebar-link sidebar-title link-nav" href="/admin/topup">
                        <i class="fa-solid fa-users" style="color: #c309f6;"></i>
                        <span> ATM </span>
                      </a>
                    </li>

                    <li class="sidebar-main-title">
                      <h6> Lịch sử nạp tiền </h6>
                    </li>
                    <li class="sidebar-list">
                      <a class="sidebar-link sidebar-title link-nav" href="/admin/purchase_history">
                        <i class="fa-solid fa-users" style="color: #dc0b6b;"></i>
                        <span> Quản lý lịch sử nạp tiền </span>
                      </a>
                    </li>

                    <!-- Hỗ trợ Section -->
                    <li class="sidebar-main-title">
                      <h6> Hỗ trợ </h6>
                    </li>
                    <li class="sidebar-list">
                      <a class="sidebar-link sidebar-title link-nav" href="javascript:void(0)">
                        <i class="fa-solid fa-phone" style="color: #e2c018;"></i>
                        <span> Liên hệ </span>
                        <div class="according-menu" bis_skin_checked="1">
                          <i class="fa fa-angle-right"></i>
                        </div>
                      </a>
                      <ul class="sidebar-submenu" style="display: none;">
                        <li>
                          <a href="https://www.facebook.com/chinhapiit"> Facebook </a>
                        </li>
                        <li>
                          <a href="388674883"> Zalo </a>
                        </li>
                        <li>
                          <a href="@chinhapiit"> Telegram </a>
                        </li>
                      </ul>
                    </li>
                    <li class="sidebar-list">
                      <a class="sidebar-link sidebar-title link-nav" href="/home">
                        <i class="fa-solid fa-right-from-bracket" style="color: #74ff6e;"></i>
                        <span> Đăng xuất </span>
                      </a>
                    </li>
                  </div>
                </div>
              </div>
            </div>
            <div class="simplebar-placeholder" style="width: auto; height: 823px;"
                 bis_skin_checked="1">
            </div>
          </div>
          <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"
               bis_skin_checked="1">
            <div class="simplebar-scrollbar" style="width: 0px; display: none;" bis_skin_checked="1">
            </div>
          </div>
          <div class="simplebar-track simplebar-vertical" style="visibility: hidden;"
               bis_skin_checked="1">
            <div class="simplebar-scrollbar" style="height: 0px; display: none;" bis_skin_checked="1">
            </div>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</div>